<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Inter:wght@700&family=Josefin+Sans:wght@200&family=Poppins:wght@100&family=Rubik+Iso&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
  <div class="container">
    <div class="overlay"></div>
    <div>
      <h1 class="rubik-iso-regular">KEYLOGGER</h1>
      <div id="animation" style="width: 50px;">
        <img src="/static/svg/animation.svg" alt="">
      </div>
    </div>
    <div class="cyber-card cyber-border flex">
      <div class="search-card">
        <input id="inp" class="input-search" name="search" placeholder="Type your text" />
      </div>
      <button id="btn" onclick="handleSearch()" class="cyber-button">search</button>
    </div>
    
    <div id="result-data" class="block cyber-card cyber-border">
      <button class="close-button" onclick="hideModal()">×</button>
      <div class="content"></div>
    </div>
    <div class="flex">
      <div class="cyber-card cyber-border half">
        <h1>result</h1>
        <h1 id="result"></h1>
      </div>
      <div class="cyber-card cyber-border half">
        <h1 class="Following">Tracking</h1>
        <h1 id="Follo" class="Following"></h1>
      </div>
    </div>
  </div>

  <div class="flex">
    <form class="selection cyber-card cyber-border flex" action="" onsubmit="handleFormSubmit(event)">
      <div>
        <label>בחר מחשב:</label>
        <select class="selection flex" id="computer">
          <option class="cyber-text-glow" value="pc-123">pc-123</option>
          <option class="cyber-text-glow" value="pc-124">pc-124</option>
        </select>
      </div>
      <div>
        <label>בחר תאריך:</label>
        <input type="date" id="date">
      </div>
      
      <button type="submit"  class="show-button" onclick="showModal()">טען נתונים</button>
    </form>

    <div id="stop-btn" class="flex center">
      <button id="start" class="sircle-card flex center">
        <h1 id="text-start-button">start</h1>
      </button>
    </div>
  </div>

  <script src="/static/js/index.js"></script>
</body>

</html>